/* General or Desktop mode. */

.container {
    max-width: 1024px;
    min-height: 500px;
    background-color: rgb(47, 233, 47);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contain {
    height: 200px;
    width: 30%;
    background-color: rgb(255, 0, 0);
    margin-bottom: 40px;
}

/* Tablet mode with minimum width 768px. */
@media (max-width:768px) {

.contain {
    width: 45%;
}

}
/* Mobile mode with minimum width 500px. */
@media (max-width:500px) {
    
.contain {
    width: 100%;
}
    
    }