/* General or Desktop mode. */

body {
    font-family: 'Asap', sans-serif;
}
.container {
    max-width: 1024px;
    min-height: 500px;
    /* background-color: rgb(47, 233, 47); */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
header {
    height: 400px;
    background-color: purple;
}
.contain {
    /* height: 200px; */
    width: 30%;
    background-color: rgb(47, 233, 47);
    /* background-color: rgb(255, 0, 0); */
    margin-bottom: 40px;
}

.card-text {
    text-align: left;
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    line-height: 1.5rem;
}
.card-text p::first-line {
    color: rgb(255, 255, 255);
    font-weight: bold;
}


/* hide section on desktop */
.hide-desktop {
    display:none;
}
.hide-tablet {
    display:block;
}
.hide-mobile {
    display:block;
}

/* image responsiveness */

.contain img {
    width: 100%;
    height: auto;
}


/* Tablet mode with minimum width 768px. */
@media (max-width:768px) {

.contain {
    width: 45%;
}
.hide-desktop {
    display:block;
}
.hide-tablet {
    display:none;
}
.hide-mobile {
    display:block;
}


}
/* Mobile mode with minimum width 500px. */
@media (max-width:500px) {
    
.contain {
    width: 100%;
}
.hide-desktop {
    display:block;
}
.hide-tablet {
    display:block;
}
.hide-mobile {
    display:none;
}
    
    }